@import "./import";
@import "./typography";
@import "./common";
.sign__up__form {
  box-shadow: 0 2px 14px -6px;
  border-radius: 5px;
  padding: 30px;
  border: 1px solid #ecf0f1;
  margin-top: auto;
  margin-bottom: auto;
}
