@media (max-width: 480px) {
  .content {
    margin-left: 20px;
  }
}

@media (max-width: 320px) {
  .content {
    margin-left: 10px;
  }
}

/* body.modal-open > :not(.modal) {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
} */
