.market-history .nav {
  background: #f5f9fc;
}
.market-history .nav-link {
  color: #4a4a4a;
  padding: 10px 13px;
}

.market-history .nav-link.active {
  color: #007bff;
  background: transparent;
}

.market-history thead tr th,
.market-history tbody tr td {
  font-weight: 400;
}
.market-history tbody {
  min-height: 470px;
  overflow-y: auto;
  display: block;
}

.market-history table,
.market-history tr,
.market-history td,
.market-history th {
  width: 100%;
  table-layout: fixed;
}
.market-history tr {
  float: left;
  clear: both;
  overflow: hidden;
}
.market-history {
  border: 1px solid #e0e3eb;
  border-radius: 2px;
}

.orders-book table,
.orders-book tr,
.orders-book td,
.orders-book th {
  width: 100%;
  table-layout: fixed;
}
.orders-book tr {
  float: left;
  clear: both;
  overflow: hidden;
  // height: 10px;
}
.orders-book .table thead th {
  font-weight: 400;
  font-size: 12px;
}
.orders-book tbody tr {
  height: 23px;
  // margin-top: -2px;
}

.orders-book tbody td {
  border: none;
  height: 20px;
  font-size: 10px;
}
.orders-book {
  border: 1px solid #e0e3eb;
  border-radius: 2px;
}
