.modalBackground {
  width: 25%;
  height: 15%;
  background-color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-left: 20%;
  margin-top: 25%;
}
.qrt {
  height: 250px;
  width: 250px;
}
.qrt p {
  color: rgb(73, 123, 216);
  position: absolute;
}
.qrt img {
  width: 100%;
  height: 100%;
  margin-top: -20px;
  margin-left: -10px;
}
.modalContainer {
  width: 500px;
  height: 500px;
  border-radius: 8px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  color: rgb(38, 38, 44);
}
.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}
.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}
.copy .btn {
  margin-left: 350px;
  margin-top: -20px;
}
.copy p {
  color: black;
}
.lbody {
  position: absolute;
  flex-direction: column;
  margin-top: 150px;
}
.btext {
  color: black;
  width: 65%;
  margin-left: 35%;
  margin-top: -55%;
}
.modalContainer .body {
  flex: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.1rem;
  text-align: center;
  flex-direction: column;
  color: rgb(66, 65, 71);
}
.modalContainer .footer {
  //   flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}
#cancelBtn {
  //   border: 1px solid cornflowerblue;
  background-color: rgb(231, 149, 134);
}
.btext li {
  color: rgb(114, 117, 128);
}

//--------------------------------------->OutModal styles

.obody {
  margin-bottom: 100px;
  margin-top: -10%;
}
.obody .form-group input {
  background-color: white;
  color: rgb(85, 85, 92);
}

.obody .form-group input text {
  color: black;
}

.obody p {
  color: rgb(66, 65, 71);
}
.obody h6 {
  color: black;
  margin-bottom: -30px;
}
.obody .form-group p {
  margin-bottom: -3px;
  color: rgb(152, 150, 158);
}
